@import url('https://fonts.googleapis.com/css?family=Exo:400,700|Open+Sans');
html{
	color: #898989;
	font-family: 'Open Sans', sans-serif;

}
a{
	color: #ff2390;
	text-transform: uppercase;
	text-decoration: none;
}
p{
	font-size: 0.8em;
	font-size: 16px;
	line-height: 1.5;
}
h1,h2,h3,h4{
	color: #0f1631;
	font-family: 'Exo', sans-serif;

}
h1{
	font-size: 2em;
	margin:10px 0;
	text-transform: uppercase;
}
h2{
	font-size: 1.7em;
	margin-top: 10px;
	text-transform: uppercase;
}
h3{
	font-size: 1.4em;
	margin-top: 10px;
	text-transform: uppercase;
}
.nav{
	width:30%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}
.nav ul{

}
.nav li{
	width: 33.3%;
	float: left;
	display: inline;
}
.nav a{
	float: right;
	text-align: center;
	width: 100%;
	padding: 5px 0px;
	transition: all 0.5s ease;
}
.nav a:hover{
	color: white;
	background: #ff2390;
}
/*structure / grid*/
.panel{
	width: 100vw;
	height: 100vh;
	background: #f1f1f1;
	overflow: hidden;
}
.half{
	height: 50vh;
	float: left;
	position: relative;
	width: 100vw;
}
/*intro*/
.intro-profile{
	background: url('../img/kitty-project6.jpg');
	background-size: cover;
	background-position: center;
}
.intro-copy{
	height: auto;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
    transform: translate(-50%, -50%);
	width: 80%;
}
/*showcase*/
.showcase{
	background: #ff2390;
}
.showcase h2{
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
.overLay{
	height: 100%;
	width:100%;
	display: block;
	background:#000;
	opacity: 0.5;
	transition: all 0.5s ease;
}
.overLay:hover{
	opacity: 0.1;
}
.project-cell{
	width: 50%;
	height: 50%;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center;
}

.project-info{
	background: #fff;
	height: auto;
	position: absolute;
	padding: 5px;
	text-align: center;
	top: 75%;
    transform: translate(0, -75%);
	width: 75%;


}
.project-info h3{
	color: #ff2390;
}
.project-info p{
	color: #0f1632;
}
@media only screen and (min-width: 1020px) {
	h1{
		font-size: 2em;
		margin:10px 0;
		text-transform: uppercase;
	}
	.half{
		height: 100vh;
		width: 50vw;

	}
	.showcase{
		height: 50vh;
	}
	.project-cell{
		width: 25%;
		height: 65%;
		float: left;
		position: relative;

	}
}